<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>

<body>
{{block "header" .}}{{end}}
<h1>{{.Title}}</h1>
{{template "paragraph" .Text}}
{{template "paragraph" .Text}}
{{template "paragraph" .Text}}
<ul>
    {{range .Lines}}
    <li>{{.}}</li>
    {{end}}
</ul>

    {{if eq .Number1 .Number2}}
    Numbers are equal
    {{else}}
    Numbers aren't equal
    {{end}}

    <br/>

    {{block "content" .}}
    Default content here
    {{end}}

    {{block "footer" .}}{{end}}

</body>

</html>